@charset "UTF-8";
@import "./reset.css";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  background-color: rgb(48, 48, 48);
}

main {
  height: 100svh;
  display: grid;
  place-items: center;
}

section p {
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  text-align: justify;
}

span {
  color: blue;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}


/* Styles for dialog */
dialog {
  width: 310px;
  padding: 20px 25px;
  border-radius: 5px;
  margin: auto;
  outline: none;
  border-style: none;
  animation: anim 0.25s linear;
}

dialog::backdrop {
  background-color: rgb(255 153 0 / 50%);
  backdrop-filter: saturate(180%) blur(20px);
}
@keyframes anim {
  from {
    opacity: 0;
    translate: 0 -8px;
  } to {
    opacity: 1;
    translate: 0 0;
  }
}